footer,
.footer {
    background-color: rgb(0, 17, 94);
    color: #fff;
    position: relative;
    background-size: contain;
    background: url(../images/fotos/footer-chama.png) ;
    /* background-attachment: fixed; */
    width: 100%;
    /* height: 100%; */
    background-position: right;
    margin-top: 100px;
    padding-top: 30px;
}

.footer {
    margin: 0;
}

.contenedor-del-footer {
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.logo-footer {
    margin-top: 50px;
    /* max-width: 200px; */
    /* height: 300px; */
}

.logo-footer img {
    margin: auto;
    display: block;
}
.logo-footer p {
    text-align: center;
    line-height: 2.2;
}

.inferior-redes-sociales {
    display: flex;
    justify-content: center;
}

.inferior-redes-sociales .icon-facebook-squared,
.inferior-redes-sociales .icon-gmail,
.inferior-redes-sociales .icon-twitter,
.inferior-redes-sociales .icon-instagram {
    margin: 0 10px;
    background-color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}


.inferior-redes-sociales .icon-facebook-squared:hover,
.inferior-redes-sociales .icon-gmail:hover,
.inferior-redes-sociales .icon-twitter:hover,
.inferior-redes-sociales .icon-instagram:hover {
    margin: 0 10px;
    background-color: rgb(0, 198, 224);
    text-decoration: none;
    color: #fff;
}


.our-services,
.usefulk-links,
.flicker {
    margin-top: 50px;
    min-width: 200px;
    /* text-align: center; */
}
.our-services h6,
.usefulk-links h6,
.flicker h6 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.our-services a,
.usefulk-links a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 20px 0;
    width: 170px;
    height: 45px;
    /* border: 3px #fff solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: all .4s;
    margin: auto;
}
.our-services a:hover,
.usefulk-links a:hover {
    background-color: rgb(0, 0, 0, .3);
    transform: scale(1.2,1.2);

}


.flicker img {
    display: block;
    margin: 15px 0 0 0;
    cursor: pointer;
    
}
.flicker .cont-1,
.flicker .cont-2 {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 500px) {
    footer {
      
        background-position: right;
    }
    .footer {
        margin: 0;
    }

        

    .flicker .cont-1,
    .flicker .cont-2 {
        display: flex;
        justify-content: center;
    }
    
    .flicker img {
        display: block;
        margin: 15px 15px 0 0;
    
    }
    .flicker img:nth-child(3) {
        display: block;
        margin: 15px 0px 0 0;
    
    }
    
}

@media (min-width: 1000px) {
    footer {
        background-color: rgb(0, 17, 94);
        color: #fff;
        /* position: relative; */
        background-size: 100% 0;
        background-position: right;
        background: url(../images/fotos/footer-chama.png);
        width: 100%;
        /* height: 600px; */
    }
    .footer {
        margin: 0;
    }
    
    
    .contenedor-del-footer {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        /* text-align-last: left; */
    }
    .contenedor-del-footer
    .logo-footer {
        max-width: 250px;

    }
    .logo-footer p {
        /* text-align: left; */
        line-height: 2.2;
    }
    .our-services,
    .usefulk-links,
    .flicker {
        margin-top: 75px;
    }

    
}

.ultimo-menu {
    width: 80%;
    margin: 80px auto 0;
    /* border: 2px 0 solid red; */
    border-top: 2px solid rgba(175, 175, 175, .4) ;
    border-bottom:2px solid  rgba(175, 175, 175, .4);
    max-width: 880px;
}
.ultimo-menu ul{
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.ultimo-menu ul li{
}
.ultimo-menu ul li a {
    text-decoration: none;
    color: rgb(209, 209, 209);
    display: block;
    margin: 20px 20px;
    transition: all .4s;
}
.ultimo-menu ul li a:hover{
    color: rgb(255, 255, 255);
 
}

.footer-description {
    bottom: 0;
    /* height: 100%; */
    width: 100%;
    
}
.footer-description p {
    bottom: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    margin: 25px 0 0 0;
    padding:0 0  25px 0;
}
