.contenedor-contenedor-slider-principal {
    height: 310px;
    /* width: 100vw; */
    overflow: hidden;
    width: 100%;
}
.contenedor-slider-principal {
    /* display: flex; */
    margin:0 0 10px 0;
    display: block;
    overflow: hidden;
    width: 100%;
    /* position: absolute; */
}

.contents-sliders-ul {
    /* overflow: hidden; */
    width: 400%;
    display: flex;
    /* height: 650px; */
    /* overflow: hidden; */
    /* border: 5px solid red; */
    /* position: relative; */
    animation: cambio 17s infinite linear;
    animation-timing-function: ease-in-out;
    /* position: relative; */
}

  
@keyframes cambio {
    0% {margin-left: 0;}
    28% {margin-left: 0;}

    33% {margin-left: -100%;}
    61% {margin-left: -100%;}

    66% {margin-left: -200%;}
    94% {margin-left: -200%;}

    100% {margin-left: -300%;}
}

.contents-sliders-li {
    width: 100%;
    /* overflow: hidden; */
}
.contents-sliders-ul img {
    width: 100%;
    position: absolute;
}


.contents-sliders-ul h1,
.contents-sliders-ul p,
.contents-sliders-ul a {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
}
.contents-sliders-ul h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 20%;
    font-size: 1.5em;

    
}

.contents-sliders-ul p {
    font-family: 'Manrope', sans-serif;
    margin: 5% 20px 0;
    
}
.contents-sliders-ul a {
    display: block;
    /* margin-bottom: 10%;     */
    text-decoration: none;
    background-color: #f34580;
    width: 110px;
    height: 30px;
    margin: 5%  auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
    transition: all .4s;
}
.contents-sliders-ul a:hover {
    color: #f34580;
    background-color: #fff;
    box-shadow: 0 0  10px rgba(0, 0, 0, 4);

}

@media (min-width:500px) {
    .contenedor-contenedor-slider-principal {
        height: 450px;
    }
    .contents-sliders-ul h1 {

        font-size: 2.1em;
    
        
    }
    
    .contents-sliders-ul p {
        font-size: 1.2em;
        
    }
}

@media (min-width:600px) {
    .contenedor-contenedor-slider-principal {
        height: 500px;

    }
    .contenedor-slider-principal {
        height: 400px;
        overflow: hidden;
        /* border: 5px solid red; */
        position: relative;
    }
    .contents-sliders-ul {
        /* position: absolute; */
    }
    .contents-sliders-ul img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .contents-sliders-ul h1 {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding-top: 100px;
        font-size:2.2em;
    
        
    }
    
    .contents-sliders-ul p {
        font-family: 'Manrope', sans-serif;
        margin: 5% 20px 0;
        font-size: 1.2em;
        
    }
    .contents-sliders-ul a {
        /* display: block; */
        /* margin-bottom: 10%;     */
        text-decoration: none;
        background-color: #f34580;
        width: 110px;
        height: 30px;
        margin: 5%  auto;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 12px;
        transition: all .4s;
    }



}

@media (min-width:800px) {
    .contenedor-contenedor-slider-principal {
        height: 600px;
    }
    .contenedor-slider-principal {
        height: 500px;
        overflow: hidden;
        /* border: 5px solid red; */
        position: absolute;
    }
    .contents-sliders-ul h1 {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding-top: 150px;
        font-size:2.5em;
    }
    .contents-sliders-ul a {
        /* margin-bottom: 10%;     */
        text-decoration: none;
        background-color: #f34580;
        width: 130px;
        height: 40px;
        margin: 5%  auto;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 17px;
        transition: all .4s;
    }
        
}

@media (min-width: 1028px) {
    .contenedor-contenedor-slider-principal {
        height: 820px;
    }
    .contenedor-slider-principal {
        height: 85vh;
        overflow: hidden;
        /* border: 5px solid red; */
        position: absolute;
    }

    .contents-sliders-ul h1 {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding-top: 220px;
        font-size:3em;
    }
    
    .contents-sliders-ul p {
        font-size: 1.5em;
    } 
    .contents-sliders-ul a {
        /* margin-bottom: 10%;     */
        text-decoration: none;
        background-color: #f34580;
        width: 150px;
        height: 50px;
        margin: 5%  auto;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 17px;
        transition: all .4s;
    }
 
}