* {
    box-sizing: border-box;
}




.header-principal {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    background-color: #fff;
}


.container-del-logo-nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px 0;
    margin: auto;
}
#btn-menu {
    display: none;

}
.icon-menu {
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    position: absolute  ;
    margin-top: -43px;
    right: 50px;
    display: block;

}


.menu {
    margin: 10px 0 0 0;
    width: 100%;
    text-align: center;
    /* border: 3px solid #000; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.menu ul {
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    /* opacity: 0; */
    transform: translateX(-150%);
    transition: all .4s;
    text-align-last: left;
    /* visibility: hidden; */
    z-index: 100;
    /* position: fixed; */
    /* opacity: 0; */
    position: absolute;
    width: 100%;
    margin: auto;
    top: 230px;
    
}

.menu ul li {
    border-bottom: 2px solid #88888838;
    transition: all .4s;
    padding:  0 10px;
    
}
.menu ul li a {
    color: #888888;
    text-decoration: none;
    transition: all .4s;
    width: 100%;
    display: block;
    padding:  5px 0 15px 0;
    transition: all .4s;
    
}
.menu ul li:hover {
    border-bottom: 2px solid #f34580;
    
    position: relative;
}

.menu ul li a:hover {
    color: #f34580;
}
li > .sub-items {
    background-color: rgb(241, 241, 241);
    width: 97%;
    margin: auto;
    padding: 0;
    border-radius: 7px;
    transform: translateX(0%);
    opacity: 1;
    /* position: fixed; */
    display: none;
}
.sub-items li {
    /* visibility: visible; */
}
   
#btn-menu:checked ~ .list-para {
    transform: translatey(0%);
    transition: all .4s;
    /* opacity: .9; */
    /* visibility: visible; */
    
}



.logo {
    background: url(../images/logo.png) no-repeat;
    width: 110px;
    height: 54px;
    cursor: pointer;
    
}



.buttom {
    text-decoration: none;
    width: 100px;
    background-color: #f34580;
    padding: 15px 30px;
    color: #fff;
    border-radius: 5px;
    transition: all .4s;
    display: none;
}
.buttom:hover {
    color: #f34580;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);

}


/* ++ media queris ++ */


@media (min-width: 768px) {
    .container-del-logo-nav {
        width: 90%;
        padding: 20px 0;
        margin: auto;
        position: relative;
    }
    .icon-menu {
        /* top: 100px; */
        position: absolute;

    }
    .menu ul {
        top: 220px;
        
    }
}

@media (min-width: 980px) {
    .container-del-logo-nav {
        width: 80%;
    }


    .icon-menu {

        display: none;
    }
    
    
    .menu {
        width: 70%;

        
    }
    
    
    .menu ul {
        display: flex;
        
        transform: translateX(0%);
        justify-content: flex-end;
        z-index: 100;
        position: fixed;
        position: relative;
        width: 100%;
        top: 0px;
        
    }

    .menu ul li {
        border-bottom: 0px solid #88888838;

         
    }
    .menu ul li a {
        /* font-size: 1.1em; */
        /* margin: 0 10px; */
        width: 100%;
        height: 100%;
        
    }
    .menu ul li:hover {
        border-bottom: 0px solid #f34580;
    }
    
    .menu ul li a:hover {
        color: #f34580;
    }
    li > .sub-items {
    
        display: none; 
    }
    .buttom {
        text-decoration: none;
        width: 100px;
        background-color: #f34580;
        padding: 15px 30px;
        color: #fff;
        border-radius: 5px;
        transition: all .4s;
        display: inline;
    }


}

@media (min-width: 1350px) {
    .menu ul li a {
        font-size: 1.25em;
        margin: 0 10px;
    }
}
    
    
    



