.contenedor-contenedor-slider-principal {
    overflow: hidden;
    margin-bottom: 100px;
}

.contenedor-slider-principal {
    display: flex;
    width: 400%;
    animation: cambio 17s infinite linear;
    animation-timing-function: ease-in-out;
}

.contents-sliders-ul {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    28% {margin-left: 0;}

    33% {margin-left: -100%;}
    61% {margin-left: -100%;}

    66% {margin-left: -200%;}
    94% {margin-left: -200%;}

    100% {margin-left: -300%;}
}


.contents-sliders-li {
    background: url(../images/fotos/woman-in-white-blazer-holding-tablet-computer-789822.png);
    width: 100%;
    background-size: cover;
    height: 250px;
    
    position: relative;
}
.contents-sliders-li2 {
    background: url(../images/fotos/man-in-white-shirt-wearing-black-hat-3989479.png);
    width: 100%;
    background-size: cover;
    height: 250px;

    position: relative;
}
.contents-sliders-li3 {
    background: url(../images/fotos/women-in-black-dress-wearing-black-sunglasses-3981524.png);
    width: 100%;
    background-size: cover;
    height: 250px;

    position: relative;
}
.contents-sliders-li4 {
    background: url(../images/fotos/woman-in-white-blazer-holding-tablet-computer-789822.png);
    width: 100%;
    background-size: cover;
    height: 250px;

    position: relative;
}


.contenedor-escrito-slider {
    text-align: center;
    color: #fff;
    width: 90%;
    margin: auto;
    
}
.contenedor-escrito-slider h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-top: 40px;
}
.contenedor-escrito-slider p {
    font-family: 'Manrope', sans-serif;
}
.contenedor-escrito-slider a {
    color: #fff;
    text-decoration: none;
    display: block;
    /* border: 3px solid red; */
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: #f34580;
    transition: all .4s;
}

.contents-sliders-ul a:hover {
    color: #f34580;
    background-color: #fff;
    box-shadow: 0 0  10px rgba(0, 0, 0, 4);
}

@media (min-width: 500px) {
    .contents-sliders-li,   
    .contents-sliders-li2,    
    .contents-sliders-li3,  
    .contents-sliders-li4 {
        height: 300px;
        background-position: center;

    }    

    .contenedor-escrito-slider h1 {
        padding-top: 100px;
    }

    .contenedor-escrito-slider p {
        margin-top: 10px;
    }
    .contenedor-escrito-slider a {
        margin-top: 10px;
    }

}

@media (min-width: 768px) {
    .contents-sliders-li,   
    .contents-sliders-li2,    
    .contents-sliders-li3,  
    .contents-sliders-li4 {
        height: 400px;
        background-position: center;

    } 
    
    .contenedor-escrito-slider h1 {
        padding-top: 150px;
        font-size: 2em;
    }

    .contenedor-escrito-slider p {
        margin-top: 40px;
    }
    .contenedor-escrito-slider a {
        margin-top: 40px;
    }
}
@media (min-width: 1020px) {
    .contents-sliders-li,   
    .contents-sliders-li2,    
    .contents-sliders-li3,  
    .contents-sliders-li4 {
        height: 500px;
        background-position: center;

    } 
    
    .contenedor-escrito-slider h1 {
        padding-top: 150px;
        font-size: 2.5em;
    }

    .contenedor-escrito-slider p {
        margin-top: 60px;
        font-size: 1.1em;
    }
    .contenedor-escrito-slider a {
        margin-top: 100px;
    }
}
@media (min-width: 1200px) {

    .contents-sliders-li,   
    .contents-sliders-li2,    
    .contents-sliders-li3,  
    .contents-sliders-li4 {
        height: 760px;
        background-position: center;
    } 
    
    .contenedor-escrito-slider h1 {
        padding-top: 240px;
        font-size: 3.5em;
    }

    .contenedor-escrito-slider p {
        margin-top: 60px;
        font-size: 1.5em;
    }
    .contenedor-escrito-slider a {
        margin-top: 100px;
    }
}



